body{
margin:0;
padding:0;
    background-color: #4BC5D4;
}

.mhead{
  min-height: 60px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		  text-align: center;
		  
}
.red{
color: red;
}

#mapform{
padding-top: 10px;
margin-left: auto;
    margin-right: auto;
width: 450px;
}
.mapinfo{
padding: 20px;
min-height: 210px;
border: #c5c1bd 1px solid;
border-radius: 5px;
background: #D1D8D1;
}
.mapinfo label{
font-size: 20px;
padding: 10px;line-height: 34px;
text-align: left;
text-transform: capitalize;
}

#display_map{

width: 450px;
    margin-left: auto;
margin-right: auto;
}
.display_map_details{
right: 60px;
position: relative;
top: 60px;
}


	
input[type=text], input[type=search], input[type=email], input[type=url] {
width: 240px;
max-width: 90%;
float: right;
margin-right: 10px;
}
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url] {
background: #f3f3f3;
border: solid 1px #ddd;
padding: 6px 10px;
border-radius: 5px;
-webkit-appearance: none;
}
input[type=submit], button {
background: #333;
color: #fff;
border: none;
padding: 7px 20px;
cursor: pointer;
border-radius: 5px;
margin-left: auto;
    margin-right: auto;
margin-top: 20px;
}
input[type=reset]:hover, input[type=submit]:hover, button:hover {
background: #000;
color: #fff;
}

